/* Write your CSS here */

.bg-container {
  background-color: #f1f5f8;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.heading {
  color: #2d3a35;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 800;
}

.span-element {
  color: #c20a72;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 800;
}

.para {
  color: #2d3a35;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
}
.button {
  height: 25px;
  width: 60px;
  padding: 5px;
  font-size: 13px;
  color: #ffff;
  background-color: #007bff;
  border-radius: 5px;
  border-width: 0px;
}
